doctype html
html
  head
    link(rel='stylesheet' href='/header.css')
    link(rel='stylesheet' href='/login.css')
    link(rel='stylesheet' href='/menu.css')
    link(rel='stylesheet' href='/game.css')
    script(src="/menu.js")
  body
    div(class="header")
      div(class="imagenesMenu1")
        img(id="express", src="/express.png")
        img(id="websockets", src="/sockets.png")
      h1(id="titulo") SquareFever
      div(class="imagenesMenu2")
        img(id="pug", src="/pug.png")
    block contingut
