
extends layout

block contingut
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(name="logIn" method='POST' action='/login')
          div.form-group
            label(for='nombre') Nombre
            input.form-control(type='text' id='nombre' placeholder='nombre' name='nombre')
          div.form-group
            label(for='pass') Password
            input.form-control(type='pass' id='pass' placeholder='pass' name='pass')
          button.btn.btn-primary(type='submit') Log in   