@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");

* {
	font-family: "Roboto", sans-serif;
}
#tabla {
	width: 398px;
	margin-left: 37%;
	margin-top: 10%;
}

#contador {
	font-size: 30px;
	width: 398px;
	margin-left: 50%;
}

button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 30px;
}
